html,
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  user-select: none; /*added to prevent text being selected when clicking*/
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  text-align: center;
  background-color: rgb(8, 177, 234);
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: #432000;
  border: none;
  background-color: #e0e6f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Jost", sans-serif;
  margin: 10px 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

button {
  color: #fdfdfd;
  background-color: #f03f60;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Jost", sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#add-button:hover {
  background-color: #f43659;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}

ul li {
  background-color: #ffde8b;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
}

ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
